body {
    font-family: 'Arial', sans-serif;
    background: #000;
    color: #0be3e3;
    margin: 0;
    padding: 0;
    position: relative;
    overflow: hidden;
}

header {
    background: linear-gradient(to right, #0be3e3 20%, #000 70%);
    padding: 20px;
    text-align: center;
    z-index: 1;
    box-shadow: 0px 0px 45px 5px #0be3e3;
}

section.user-details {
    max-width: 800px;
    margin: 4% auto;
    padding: 20px;
    background: #0e0e0e;
    border: 1px solid #0be3e3;
    border-radius: 5px;
    box-shadow: 0px 0px 45px 15px #0be3e3;
}

.detail-item {
    margin-bottom: 15px;
}

label {
    display: inline-block;
    width: 120px;
    margin-right: 10px;
}

span {
    color: #ffffff;
}

#news-list {
    list-style-type: none;
    padding: 0;
}

#news-list li {
    border: 2px solid #0be3e3;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
    box-shadow: 3px 3px 1rem 1px #0be3e3;
}
#news-list li:hover{
    border: 2px solid #ffa50f;
    box-shadow: 3px 3px 1rem 1px #ffa50f;
}
#news-list h3 {
    color: #ffa50f;
}

#news-list p {
    color: #ffffff;
}
span{
    color: #ffa50f;
}